:host {
  display: block;
}

.reporting-kpi-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (width >= 640px) {
  .reporting-kpi-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
}

@media (width >= 1024px) {
  .reporting-kpi-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}
