:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-height: 0;
}

:host ::ng-deep .p-chart {
  height: 220px ;
  max-height: 220px ;
  width: 100% ;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .p-chart canvas {
  max-height: 180px ;
  height: 180px ;
  max-width: 180px ;
  width: 180px ;
  flex-shrink: 0;
}

:host ::ng-deep .p-chart .p-chart-legend {
  max-height: 220px ;
  overflow: hidden auto;
  padding-right: 0.5rem;
}
