<!-- Alertas globales -->
<app-generic-alert
  *ngIf="showAlert"
  [message]="alertMessage"
  [type]="alertType"
  (close)="showAlert = false">
</app-generic-alert>

<div class="flex flex-col min-h-[calc(100vh-13rem)] overflow-x-hidden px-8 py-4 text-[#003b4a] bg-white">
  <div class="w-full max-w-[1200px] mx-auto">
    <!-- Formulario genérico -->
    <app-generic-form
      *ngIf="formFields.length > 0 && initialData"
      [fields]="formFields"
      [initialValue]="initialData"
      [showHeader]="false"
      [showSubmit]="false"
      [showCancel]="false"
      [saving]="false"
      (submitForm)="onFormSubmit($event)">
    </app-generic-form>

    <div class="flex justify-between items-center pt-6" *ngIf="formFields.length > 0 && initialData">
      <app-generic-button
        type="back"
        icon="pi pi-arrow-left"
        (pressed)="onBack()">
      </app-generic-button>

      <div class="flex gap-3">
        <app-generic-button
          text="Cancelar"
          type="cancel"
          [disabled]="saving"
          (pressed)="onFormCancel()">
        </app-generic-button>

        <app-generic-button
          [text]="saving ? 'Guardando...' : 'Guardar cambios'"
          type="create"
          icon="pi pi-check"
          [disabled]="saving"
          (pressed)="triggerSubmit()">
        </app-generic-button>
      </div>
    </div>
  </div>
</div>

