/* Contenido principal */
.reset-content {
  padding: 40px;
  background: var(--card);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.success-message {
  text-align: center;
  margin: 1rem;
}

.error-message {
  text-align: center;
  margin: 1rem;
}

::ng-deep app-generic-button { /* aplica ancho al botón solo para este componente */
  width: 100%;
  justify-content: center;
}