@if (loading) {
  <app-spinner
    [overlay]="true"
    [label]="loadingMessage">
  </app-spinner>
}

@if (showAlert) {
  <app-generic-alert
    [type]="alertType"
    [text]="alertMessage">
  </app-generic-alert>
}

<app-login-form
  [fields]="formFields"
  [title]="tokenError ? 'Error de Enlace' : (passwordChanged ? '¡Contraseña Cambiada!' : 'Restablecer Contraseña')"
  [subtitle]="
    tokenError
      ? 'El enlace de recuperación no es válido o ha expirado.'
      : (passwordChanged
        ? 'Tu contraseña fue actualizada exitosamente.'
        : 'Ingresa y confirma tu nueva contraseña para continuar.'
      )
  "
  [headerIcon]="
    tokenError
      ? 'pi pi-times-circle'
      : (passwordChanged ? 'pi pi-check-circle' : null)
  "
  [backgroundImage]="'laboratory-background.jpg'"
  [showFooter]="true"
  [showForgotLink]="false"
  [genericShowCancel]="false"
  [buttonType]="'custom'"
  [buttonIcon]="'pi pi-lock'"
  [buttonColor]="'--brand-primary-700'"
  [buttonFullWidth]="true"
  [showInnerForm]="!tokenError && !passwordChanged"
  [formValidators]="[passwordMatchValidator]"
  (submitLogin)="onSubmit($event)"
>

  @if (tokenError) {
    <div recover-success>
      <p class="error-message">
        Solicita uno nuevo y recibirás nuevas instrucciones.
      </p>
      <div class="error-actions">
        <a routerLink="/password-recover">
          <app-generic-button
            text="Solicitar nuevo enlace"
            icon="pi pi-refresh"
            type="custom"
            color="--brand-primary-700">
          </app-generic-button>
        </a>
      </div>
    </div>
  }

  @if (passwordChanged) {
    <div recover-success>
      <p class="success-message">
        Serás redirigido a la pantalla de login en unos segundos...
      </p>
    </div>
  }

</app-login-form>
