:host {
  display: block;
}

form {
  width: 100%;
}

.form-grid-2.items-end {
  align-items: end;
}

/* responsive */
::ng-deep .responsive-modal .p-dialog {
  width: 95vw;
  max-width: 1600px;
  height: auto;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 16px;
}

::ng-deep .responsive-modal .p-dialog-content {
  padding: 1.5rem;
}

::ng-deep .responsive-modal .p-dialog-content > * + * {
  margin-top: 1rem;
}

@media (width <= 1024px) {
  ::ng-deep .responsive-modal .p-dialog {
    width: 90vw;
    max-width: 900px;
  }

  .grid.grid-cols-2,
  .grid.grid-cols-5,
  .grid.grid-cols-3 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (width <= 768px) {
  ::ng-deep .responsive-modal .p-dialog {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    border-radius: 0;
  }

  .grid.grid-cols-2,
  .grid.grid-cols-5,
  .grid.grid-cols-3 {
    grid-template-columns: 1fr;
  }

  .p-dialog-content {
    padding: 1rem;
  }
}

/* Modal tiny buttons */
::ng-deep .btn-tiny button {
  width: 22px;
  padding: 1px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
}

::ng-deep .btn-tiny .pi {
  font-size: 0.75rem;
}



