.contacts-step {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forms-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text-warning {
  color: #ff9800;
  font-weight: 500;
}
