<app-generic-alert
  *ngIf="alertType"
  [type]="alertType"
  [title]="alertTitle"
  [text]="alertText">
</app-generic-alert>

@if(patientForModal){
  <app-patient-edit-modal
    (patientUpdated)="onPatientUpdated($event)"
    [(visible)]="patientModalVisible"
    [patient]="patientForModal"
    [readOnly]="patientModalReadOnly"
    (visibleChange)="patientModalVisible = $event">
  </app-patient-edit-modal>
}

<div class="flex flex-col gap-14 w-full">
  <!-- Patient DNI Input -->
  <div class="field w-full">
    <label for="patient-dni">Documento del paciente <span class="required-asterisk">*</span></label>
    <p-input-number
      id="patient-document"
      [(ngModel)]="patientDni"
      [disabled]="true"
      placeholder="Documento del paciente"
      [useGrouping]="false"
      styleClass="w-full"
    ></p-input-number>
  </div>

  <!-- Coverage Select -->
  <div class="field w-full">
    <label for="coverage-select">Cobertura <span class="required-asterisk">*</span></label>
    <p-select
      id="coverage-select"
      [(ngModel)]="selectedCoverageId"
      [options]="coverageOptions"
      optionLabel="label"
      optionValue="value"
      placeholder="Seleccionar cobertura"
      styleClass="w-full"
      filterPlaceholder="Buscar cobertura...">
    </p-select>
  </div>

  <!-- Member number (read-only text input) -->
  <div class="field w-full">
    <label for="member-number">N° de afiliado</label>
    <input
      pInputText
      id="member-number"
      [disabled]="true"
      [ngModel]="selectedMemberNumber"
      class="w-full"
      type="text"
    />
  </div>
</div>
