<div class="waiting-room-screen">

  @if(alertVisible){
    <app-generic-alert
      [type]="alertType"
      [title]="alertTitle"
      [message]="alertMessage">
    </app-generic-alert>
  }
  <!-- MAIN TITLE -->
  <div class="screen-title">
    EXTRACCIONES
  </div>

  <!-- LISTA DE FILAS -->
  <div class="rows-container">

    @for (slot of displaySlots; track slot?.attentionId) {
      <div
        class="row"
        [class.empty]="!slot"
      >
        <!-- CÓDIGO -->
        <div class="code">
          {{ slot?.attentionNumber || '—' }}
        </div>

        <!-- BOX -->
        <div class="box">
          {{ slot ? ('BOX ' + slot.attentionBox) : '—' }}
        </div>
      </div>
    }

  </div>

  <!-- OVERLAY DE LLAMADO -->
  <div class="call-overlay" [class.show]="showCallOverlay">
    <div class="call-card">
      <h1 class="call-code">{{ lastCalledCode }}</h1>
      <h1 class="call-code">Box {{ lastCalledBox }}</h1>
    </div>
  </div>

</div>
