:host {
  display: block;
  height: 100%;
  min-height: 0;
}

:host ::ng-deep .p-chart {
  height: 180px ;
  max-height: 180px ;
}

:host ::ng-deep .p-chart canvas {
  max-height: 180px ;
  height: 180px;
}
